/*For bigger screen then normal 1500px desktop*/
@media (min-width: 1500px) {
  .container{
    max-width: 1296px;
  }
}
/*For bigger screen then normal 960px desktop*/
@media only screen and (max-width: 1400px) {

  h1, .h1{
    font-size: 80px;
  }

  h2,
.h2 {
  font-size: 52px;
}

.aximo-cta-section::before{
  content: none;
}


}

@media only screen and (max-width: 1199px) {

  .aximo-logo{
    left: 0;
  }
  .aximo-service-column {
    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
  .aximo-menu {
    padding: 20px 0 10px;
}

}


/*For Tablet Layout*/
@media (max-width: 991px) {

  .aximo-logo img{
    width: 185px;
  }
  h1, .h1{
    font-size: 60px;
  }
  h2, .h2{
    font-size: 48px;
  }
  .aximo-hero-contnet {
    padding: 200px 0 100px;
}

.section-padding{
  padding: 80px 0 50px;
}
.section-padding2, 
.aximo-cta-section{
  padding: 80px 0;
}
.aximo-section-title{
  padding-bottom: 60px;
  text-align: center;
}
.aximo-section-title h2{
  margin-bottom: 24px;
}
.aximo-demos-wrap{
  margin-bottom: 30px;
}

.aximo-cta-content{
  text-align: center;
}
.aximo-footer-top h2{
  font-size: 48px;
}
.aximo-video-dection {
  padding-bottom: 80px;
}

.aximo-service-icon{
  margin-bottom: 20px;
}
.aximo-footer-top{
  padding-bottom: 100px;
}
.aximo-footer-section{
  padding: 95px 0 40px;
}

}

/*For Wide Mobile Layout*/
@media (max-width: 767px) {
  .aximo-logo{
    position: static;
  }
  .aximo-logo img {
    width: 130px;
}
h1, .h1{
  font-size: 36px;
}
h2, .h2{
  font-size: 36px;
}
.aximo-hero-contnet {
  padding: 180px 0 80px;
}

.section-padding{
  padding: 60px 0 30px;
}
.section-padding2, 
.aximo-cta-section{
  padding: 60px 0;
}
.aximo-section-title{
  padding-bottom: 50px;
}
.aximo-video-dection {
  padding-bottom: 60px;
}
.aximo-service-column {
  gap: 30px;
  grid-template-columns: 1fr;
}

.aximo-footer-top h2{
  font-size: 36px;
  margin-bottom: 25px;
}
.aximo-footer-top{
  padding-bottom: 80px;
}
.aximo-footer-section{
  padding: 75px 0 30px;
}
.w_50{
  width: 50%;
}

}

@media (max-width: 575px) {

  .aximo-menu ul li{
    margin: 0 5px;
  }
  .aximo-menu ul li a {
    font-size: 14px;
  }
  .aximo-header-btn {
    padding: 11px 13px;
    font-size: 13px;
 
}
  .aximo-header-btn img{
    margin-left: 5px;
  }
}

/*For 320-384px up Mobile Layout*/
@media (max-width: 479px) {

}

