
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Syne:wght@600;700&display=swap');

body {
  font-size: 21px;
  font-weight: 500;
  line-height: 30px;
  color: #0C0C0C;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
a{
  text-decoration: none;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 600;
  color: #121213;
  font-family: 'Syne', sans-serif;
}

h1,
.h1 {
  font-size: 104px;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: -1px;
}
h2,
.h2 {
  font-size: 70px;
  line-height: 1.07em;
  letter-spacing: -0.7px;
}
h3,
.h3 {
  font-size: 30px;
}

/* header area */
header.aximo-header-section {
  position: fixed;
  width: 100%;
  z-index: 99;
  padding: 15px 0;
  transition: all 0.4s;
}
header.aximo-header-section.sticky-menu {
  background-color: #000;
}
.aximo-menu {
  width: 100%;
  text-align: center;
}
.aximo-menu ul li{
  margin: 0 18px;
  display: inline-block;
}
.aximo-menu ul li:first-child{
  margin-left: 0;
}
.aximo-menu ul li:last-child{
  margin-right: 0;
}
.aximo-menu ul li a{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; 
  text-transform: capitalize;
}
.aximo-header-btn-wrap {
  text-align: right;
}
.aximo-header-btn {
  border-radius: 50px;
  padding: 7px 35px 7px 15px;
  color: #000000!important;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  transition: all 0.4s;
  background-color: #BFF747;
}
.aximo-header-btn img{
  margin-right: 10px;
}
.aximo-header-btn:hover{
  background-color: #fff;
}
/* hero section */
.aximo-hero-section {
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.aximo-hero-contnet {
  padding: 240px 0 120px;
  text-align: center;
  max-width: 1040px;
  margin: 0 auto;
}
.aximo-hero-contnet h1{
  color: #fff;
  margin-bottom: 24px;
}
.aximo-hero-contnet p{
  color: #fff;
  margin-bottom: 45px;
}
a.aximo-default-btn {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  padding: 14px 45px;
  border-radius: 50px;
  background-color: #BFF747;
}
a.aximo-default-btn img{
  margin-right: 10px;
}
a.aximo-default-btn.icon{
  padding: 12px 45px;
}
.aximo-hero-thumb-wrap {
  display: flex;
  position: relative;
}
@media (max-width: 767px) {
  .aximo-hero-thumb-wrap {
    display: none;
  }
}
.aximo-hero-thumb-item {
  width: 405px;
}
@media (max-width: 1399px) {
  .aximo-hero-thumb-item {
    width: 30%;
  }
}
.aximo-hero-thumb-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9.29px;
  border: 6px solid #fff;
}

.aximo-hero-thumb-item:nth-child(1) img {
  transform: rotate(-2deg);
}
.aximo-hero-thumb-item:nth-child(2) {
  left: 18%;
  bottom: -12px;
  position: absolute;
}
.aximo-hero-thumb-item:nth-child(2) img {
  transform: rotate(2deg);
}
.aximo-hero-thumb-item:nth-child(3) {
  left: 38.5%;
  position: absolute;
  bottom: -24px;
}
.aximo-hero-thumb-item:nth-child(3) img {
  transform: rotate(5deg);
}
.aximo-hero-thumb-item:nth-child(4) {
  right: 21%;
  bottom: -25px;
  position: absolute;
}
.aximo-hero-thumb-item:nth-child(4) img {
  transform: rotate(-5deg);
}
.aximo-hero-thumb-item:nth-child(5) {
  right: 25px;
  position: absolute;
  bottom: -31px;
}
.aximo-hero-thumb-item:nth-child(5) img {
  transform: rotate(5deg);
}

/* feature */
.aximo-feature-item {
  margin-bottom: 24px;
}

/* section title section */
.section-padding{
  padding: 120px 0 100px;
}
.section-padding2{
  padding: 120px 0;
}
.aximo-section-title {
  padding-bottom: 80px;
}
.aximo-section-title h2{
  margin-bottom: 0;
}
.aximo-section-title.center h2{
  margin-bottom: 24px;
}
.aximo-section-title p{
  margin: 0;
}

.aximo-section-title.center {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.aximo-section-title.light h2, 
.aximo-section-title.light p{
  color: #fff;
}
/* demos section */
.aximo-demos-section {
  background-color: #FAFAFA;
}
.aximo-demos-wrap {
  transition: all 0.4s;
  margin-bottom: 50px;
}
.aximo-demos-wrap:hover{
  transform: translateY(-10px);
}

.aximo-demos-thumb img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aximo-device {
  box-shadow: 0px 4.832px 96.641px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 24px;
}
.aximo-device img{
  width: 100%;
}
/* video section */
.aximo-video-dection {
  padding-bottom: 120px;
}
/* inner section */
.aximo-inner-section{
  background-color: #000000;
}
/* service section */
.aximo-service-column {
  display: grid;
  gap: 70px;
  grid-template-columns: 1fr 1fr 1fr;
}
.aximo-service-wrap{
  text-align: center;
}
.aximo-service-icon{
  margin-bottom: 30px;
}
.aximo-service-data h3{
  margin-bottom: 15px;
}
.aximo-service-data p{
  font-size: 18px;
  margin: 0;
}

  /* responsive layout */
  .aximo-responsive-section{
    background-color: #FAFAFA;
  }
  /* cta section */
  .aximo-cta-section {
    padding: 170px 0 130px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.aximo-cta-section::before{
  content: "";
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../images/images.png);
}
.aximo-cta-content h2, 
.aximo-footer-content h2{
  margin-bottom: 20px;
}
.aximo-cta-content h2, 
.aximo-cta-content p, 
.aximo-footer-content h2, 
.aximo-footer-content p{
  color: #fff;
}
.aximo-cta-content p, 
.aximo-footer-content p{
  margin-bottom: 45px;
}

/* testimonial section */
.aximo-testimonial-item {
  margin-bottom: 24px;
}
.aximo-testimonial-item img{
  width: 100%;
}

  /* footer */
  .aximo-footer-section{
    background-size: cover;
    background-position: center;
  }
 
  .aximo-footer-content {
    text-align: center;
    max-width: 760px;
    margin: 0 auto;
}
.aximo-default-btn.buy-now {
  margin: 0;
  position: fixed;
  right: 0;
  z-index: 99;
  top: 300px;
  animation: float-top-bottom  3s ease-in-out infinite;
}

@keyframes float-top-bottom {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}